
body {
    background-color: rgba(8, 24, 117, 0.986);
    font: normal 15pt arial;
}
header {
    color: rgb(243, 243, 245);
    text-align: center;
}
section {
    background-color: rgb(197, 91, 91);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
    color: black;

}
footer {
    color: rgb(248, 247, 247);
    text-align: center;
    font-size: italic;

}
div {
    color: black;
    padding: 8px;
    text-align: center;
}
var {
    color: black;
}
#res {
    color: black;
}